* {
    box-sizing: border-box;
}
body {
    background-image: url('./main_wallpaper.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
nav {
  width: 200px;
  height: 245px;
  z-index: 50;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
button {
    width: 150%;
    height: 50px;
    transition: .3s;
    position: relative;
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    font-size: 28px;
    font-family: 'Acme', sans-serif;
    font-family: 'Indie Flower', cursive;
    font-family: 'Rock 3D', cursive;
    border: none;
    outline: none;
    background: rgb(98, 33, 33);
}
button::before {
    content: '';
    outline: none;
    border: none;
    width: 100%;
    height: 50px;
    line-height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    transition: .3s;
    background: rgb(98, 33, 33);
}
button:nth-child(1)::before {
    content: 'START';
}
button:nth-child(2)::before {
    content: 'ABOUT';
}
button:hover::before {
    transform: translateX(-50px);
}
.mainBlock {
    width: 100%;
    min-width: 500px;
    height: 270px;
    margin-left: 347px;
    top: 0;
    border: 3px solid rgb(255, 0, 0);
    position: absolute;
    padding: 38px 60px;
    background: black;
    color: white;
    font-size: 14px;
    opacity: 0;
}
.mainBlock > div > p:nth-child(2) {
    text-align: right;
    margin-top: 40px;
}
.topBlock {
    width: 80%;
    height: 70px;
    left: 60px;
    top: -70px;
    position: absolute;
    border: 2px solid black;
    color: black;
    opacity: 0;
}
.topBlock > div {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    font-size: 16px;
    text-align: center;
    opacity: 0;
}
.bottomBlock {
    width: 80%;
    height: 140px;
    left: 70px;
    bottom: -141px;
    position: absolute;
    border: 2px solid black;
    background: white;
    text-align: center;
    color: black;
    padding: 30px;
}
.bottomBlock > div {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    font-size: 16px;
}
#canvas1 {
    position: absolute;
    top: 0;
    left: 0;
    filter: url("#goo");
    opacity: 1;
}
svg {
  display: none;
}
footer {
  font-family: monospace;
  width: 95%;
  color: black;
  font-size: 15px;
  margin-left: 5px;
  text-shadow: 1px 1px 1px #737373; 
  position: absolute;
  bottom: 0;
  text-align: center;
}