#characterStatus {
    position: absolute;
    left: 30px;
    top: 30px;
    width: fit-content;
    border: solid black 2px;
    padding: .25em;
    z-index: 999;
    background-color: white;
}

#orcStatus {
    position: absolute;
    left: 600px;
    top: 30px;
    width: 100px;
    border: solid black 2px;
    padding: .25em;
    z-index: 999;
}